[submodule "source/playnite-plugincommon"]
	path = source/playnite-plugincommon
	url = https://github.com/azuravian/playnite-plugincommon.git
	branch = master
[submodule "playnite-plugincommon"]
	branch = stable-working
